.feedback-form {
  margin: 0;
}

.feedback-form__user-info {
  margin: 0;
}

.feedback-form__impression {
  margin: 0;
}

.feedback-form__visited-attractions {
  margin: 0;
}

.feedback-form__emotions-feedback {
  margin: 0;
}

.feedback-form__control {
  margin: 0;
}

.feedback-form__submit-button {
  margin: 0;
}

.feedback-form__remark {
  margin: 0;
}
