.user-info {
  padding: 0 0 39px;
  border: none;
}

.user-info__title {
  margin: 0 auto 20px;
  .feedback-form-fieldset-title-style();
}

.user-info__item {
  margin: 0;
}

.user-info__item-label {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

.user-info__item-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
