.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 999;
}

.page-header__logo-image {
  margin: 0;
}

.page-header__page-navigation {
  margin: 0;
}
