.site-list {
  margin: 0;
  // border: 1px solid #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.site-list__item {
  a {
    color: inherit;
    text-decoration: none;
  }

  &--current {
    color: #766357;
  }
}
