.site-list {
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;


  @media (min-width: @tablet-width) {
    color: #000000;
    background-color: #ffffff;
  }
}

.site-list__item {
  a {
    display: block;
    padding: 18px 20px 17px;
    // padding: 17px 100px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--current {
    color: #ffffff;
    opacity: 0.8;

    @media (min-width: @tablet-width) {
      color: #766357;
      opacity: 1;
    }
  }
}
