.advantages {
  margin: 0;
  border: 1px solid #000000;
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  margin: 0;
}

.advantages__item {
  margin: 0;

  &--blue {
  background-color: #80b2d1;
  }
}

