.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.page {
  background-color: #e7e5e5;
}
.page__body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.page__container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
.page__header {
  margin: 0;
}
.page__main {
  margin: 0;
}
.page__footer {
  margin: 0;
}
.page-header {
  position: relative;
}
.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 9;
}
.page-header__logo-image {
  margin: 0;
}
.page-header__page-navigation {
  margin: 0;
}
.page-navigation {
  position: relative;
  margin: 0;
  min-height: 56px;
}
.page-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 0;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
@media (min-width: 768px) {
  .page-navigation__toggle {
    display: none;
  }
}
.page-navigation--closed .page-navigation__toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.page-navigation--closed .page-navigation__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
}
.page-navigation--closed .page-navigation__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
}
@media (max-width: 767px) {
  .page-navigation--closed:not(.page-navigation--nojs) .page-navigation__list {
    display: none;
  }
}
.page-navigation--opened .page-navigation__toggle {
  z-index: 999;
}
.page-navigation--opened .page-navigation__toggle::before,
.page-navigation--opened .page-navigation__toggle::after {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  right: -5px;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
}
.page-navigation--opened .page-navigation__toggle::before {
  transform: rotate(45deg);
}
.page-navigation--opened .page-navigation__toggle::after {
  transform: rotate(-45deg);
}
.page-navigation--opened .page-navigation__toggle:hover::before,
.page-navigation--opened .page-navigation__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.page-navigation--opened .page-navigation__toggle:active::before,
.page-navigation--opened .page-navigation__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.page-navigation__list {
  position: absolute;
  z-index: 99;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .page-navigation__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }
}
.page-navigation__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .page-navigation__list::after {
    display: none;
  }
}
.page-navigation--nojs .page-navigation__list {
  position: relative;
  z-index: 99;
}
.site-list {
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .site-list {
    color: #000000;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    width: 20%;
  }
  .site-list__item:nth-child(4n + 2) {
    margin-right: 20%;
  }
}
.site-list__item--current {
  color: #ffffff;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .site-list__item--current {
    color: #766357;
    opacity: 1;
  }
}
.site-list__item a {
  display: block;
  padding: 16px 20px 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item a {
    margin: 2px;
    padding: 16px 5px 15px;
    width: calc(100% - 4px);
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border: none;
  }
}
.site-list__item:first-child a {
  border-top-color: transparent;
}
.site-list__item:last-child a {
  border-bottom-color: transparent;
}
.main-container {
  margin: 0;
  background-color: #ffffff;
}
.main-container__main-header {
  position: relative;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .main-container__main-header {
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .main-container__main-header {
    padding-bottom: 44px;
  }
}
.main-container__advantages {
  margin: 0;
}
.main-container__hotel-search {
  margin: 0;
}
.main-container__attractions {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .main-container__attractions {
    margin: 0 60px;
  }
}
@media (min-width: 1200px) {
  .main-container__attractions {
    margin: 0;
  }
}
.main-container__video-presentation {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .main-container__video-presentation {
    margin: 0 60px;
  }
}
@media (min-width: 1200px) {
  .main-container__video-presentation {
    margin: 0 200px;
  }
}
.main-container__feedback-form {
  margin: 0;
}
@media (min-width: 768px) {
  .main-container__feedback-form {
    margin: 0 60px;
  }
}
@media (min-width: 1200px) {
  .main-container__feedback-form {
    margin: 0 120px;
  }
}
.main-header {
  margin: 0;
}
.main-header--form::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 26px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .main-header--form::after {
    display: none;
  }
}
.main-header__image-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 389px;
  padding-top: 90px;
  background-image: url("../img/image-welcome-to-the-gorgeous-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #1ebbda;
  background-size: 100% auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-header__image-container {
    background-image: url("../img/image-welcome-to-the-gorgeous-mobile-@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-header__image-container {
    padding-top: 77px;
    background-image: url("../img/image-welcome-to-the-gorgeous-tablet.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main-header__image-container {
    background-image: url("../img/image-welcome-to-the-gorgeous-tablet-@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-header__image-container {
    padding-top: 78px;
    background-image: url("../img/image-welcome-to-the-gorgeous-desktop.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-header__image-container {
    background-image: url("../img/image-welcome-to-the-gorgeous-desktop-@2x.jpg");
  }
}
.main-header__image-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 57px;
  left: 0;
  right: 0;
  background-image: url("../img/maska-1-index-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.main-header--catalog .main-header__image-container,
.main-header--form .main-header__image-container {
  height: 158px;
  padding-top: 52px;
  background-image: url("../img/back-mobile.jpg");
}
@media (min-width: 768px) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    height: 290px;
    padding-top: 95px;
  }
}
@media (min-width: 1200px) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    height: 301px;
    padding-top: 102px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    background-image: url("../img/back-mobile-@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    background-image: url("../img/back-tablet.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    background-image: url("../img/back-tablet-@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    background-image: url("../img/back-desktop.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-header--catalog .main-header__image-container,
  .main-header--form .main-header__image-container {
    background-image: url("../img/back-desktop-@2x.jpg");
  }
}
.main-header__image {
  display: block;
  margin: 0 auto;
}
.main-header--catalog .main-header__image,
.main-header--form .main-header__image {
  height: 39px;
  width: auto;
  object-fit: cover;
}
@media (min-width: 768px) {
  .main-header--catalog .main-header__image,
  .main-header--form .main-header__image {
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .main-header--catalog .main-header__image,
  .main-header--form .main-header__image {
    height: 80px;
  }
}
.main-header__description {
  width: 272px;
  margin: 37px auto 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .main-header__description {
    margin-top: 66px;
    width: 520px;
    padding: 0 124px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .main-header__description {
    margin-top: 100px;
  }
}
.main-header--catalog .main-header__description {
  margin-top: 37px;
}
@media (min-width: 768px) {
  .main-header--catalog .main-header__description {
    margin-top: 66px;
    width: 458px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .main-header--catalog .main-header__description {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  .main-header--form .main-header__description {
    width: 434px;
    font-size: 30px;
  }
}
.main-header__explanation {
  width: 282px;
  margin: 0 auto;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header__explanation {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .main-header--catalog .main-header__explanation {
    width: 458px;
  }
}
@media (min-width: 768px) {
  .main-header--form .main-header__explanation {
    width: 434px;
  }
}
.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 29px 25px 23px;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px 36px 45px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px 36px 104px;
  }
}
.page-footer__hashtag {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    margin-bottom: 0;
  }
}
.page-footer__social {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-footer__social {
    margin-bottom: 0;
  }
}
.page-footer__copyright {
  margin: 0;
}
.hashtag__link {
  display: block;
  width: 166px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.hashtag__link:hover {
  color: #81b3d2;
}
.hashtag__link:active {
  color: #b3b3b3;
}
.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__item {
  margin-right: 6px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0 auto;
  background-color: #81b3d2;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active svg {
  opacity: 0.3;
}
.copyright {
  display: flex;
  align-items: center;
}
.copyright__link {
  width: 144px;
  color: #000000;
  text-align: end;
  text-transform: uppercase;
  text-decoration: none;
}
.copyright__link:hover {
  color: #81b3d2;
}
.copyright__link:active {
  color: #b3b3b3;
}
.copyright__link svg {
  vertical-align: middle;
  margin-left: 10px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.advantages__item {
  margin: 0;
}
.advantage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin: 0;
}
@media (min-width: 768px) {
  .advantage {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;
    width: calc(100% / 3);
  }
}
.advantage--blue {
  width: 100%;
  color: #ffffff;
  background-color: #80b2d1;
}
@media (min-width: 768px) {
  .advantage--blue {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .advantage--grey {
    background-color: #eeeeee;
  }
}
.advantage:first-child {
  position: relative;
  padding-top: 45px;
}
@media (min-width: 768px) {
  .advantage:first-child {
    padding-top: 0;
  }
}
.advantage:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 37px;
  background-image: url("../img/maska-2-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
@media (min-width: 768px) {
  .advantage:first-child::before {
    display: none;
  }
}
.advantage__title {
  margin: 0 auto 11px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantage__title {
    min-width: 182px;
  }
}
@media (min-width: 1200px) {
  .advantage__title {
    min-width: 256px;
  }
}
.advantage__content {
  box-sizing: border-box;
  padding: 25px 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .advantage__content {
    min-height: 256px;
    min-width: 182px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 42px 32px 5px;
  }
}
@media (min-width: 1200px) {
  .advantage__content {
    min-width: 295px;
  }
}
.advantage__content--special {
  position: relative;
  width: 100%;
  padding: 23px 18px 2px;
}
@media (min-width: 768px) {
  .advantage__content--special {
    min-height: 330px;
    padding: 42px 32px 5px;
  }
}
@media (min-width: 768px) {
  .advantage__content--last {
    order: 2;
  }
}
.advantage__content--last-special {
  padding-bottom: 52px;
}
@media (min-width: 768px) {
  .advantage__content--last-special {
    padding-bottom: 2px;
  }
}
@media (min-width: 768px) {
  .advantage--blue .advantage__content {
    max-width: calc(100% / 3);
  }
}
.advantage__content--special .advantage__title {
  margin-left: 50px;
  text-align: left;
}
@media (min-width: 768px) {
  .advantage__content--special .advantage__title {
    margin: 0 auto;
    text-align: center;
    padding-top: 116px;
  }
}
.advantage__number {
  margin: 0 auto 17px;
}
.advantage__description {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantage__description {
    width: 182px;
  }
}
.advantage__content--special .advantage__description {
  margin-left: 50px;
  text-align: left;
}
@media (min-width: 768px) {
  .advantage__content--special .advantage__description {
    margin: 0 auto;
    text-align: center;
  }
}
.advantage__image-container {
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .advantage__image-container {
    flex-grow: 2;
    flex-basis: 0;
  }
}
.advantage__icon {
  position: absolute;
  top: 21px;
  left: 18px;
}
@media (min-width: 768px) {
  .advantage__icon {
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
    height: 72px;
  }
}
.advantage__image {
  display: block;
  margin: 0;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantage__image {
    width: 100%;
  }
}
.hotel-search {
  padding-top: 38px;
  margin: 0;
}
@media (min-width: 768px) {
  .hotel-search {
    padding-top: 61px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    padding-top: 61px;
  }
}
.hotel-search__title {
  margin: 0 auto 32px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hotel-search__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__title {
    margin-bottom: 45px;
  }
}
.hotel-search__info {
  margin: 0 auto 32px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .hotel-search__info {
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__info {
    margin-bottom: 46px;
  }
}
.hotel-search__search-button {
  display: block;
  box-sizing: border-box;
  width: 284px;
  padding: 15px 18px;
  margin: 0 auto 49px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #80b2d1;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hotel-search__search-button {
    width: 458px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__search-button {
    width: 458px;
    margin-bottom: 66px;
  }
}
.hotel-search__search-button:hover {
  background-color: #669ec0;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.hotel-search__search-button:active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.hotel-search__search-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}
.hotel-search__map {
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #83eeb0;
  background-size: 100% auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hotel-search__map {
    background-image: url("../img/map-mobile-@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hotel-search__map {
    background-image: url("../img/map-tablet.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hotel-search__map {
    background-image: url("../img/map-tablet-@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hotel-search__map {
    background-image: url("../img/map-desktop.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hotel-search__map {
    background-image: url("../img/map-desktop-@2x.jpg");
  }
}
.attractions__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .attractions__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .attractions__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.attractions__item {
  margin: 0;
  min-width: 280px;
}
@media (min-width: 768px) {
  .attractions__item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .attractions__item {
    position: relative;
    width: calc(100% / 3);
  }
}
@media (min-width: 768px) {
  .attractions__item:first-child {
    min-width: 100%;
  }
}
.attraction {
  margin: 0;
}
@media (min-width: 768px) {
  .attraction:first-child .attraction__image {
    height: 400px;
  }
}
.attraction__image-link {
  margin: 0;
}
.attraction__image {
  display: block;
  height: 280px;
  width: 100%;
  object-fit: cover;
  margin: 0;
  background-color: #00ffff;
}
@media (min-width: 768px) {
  .attraction__image {
    height: 267px;
  }
}
.attraction__description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .attraction__description {
    position: relative;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .attraction__description {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.attraction__description a {
  color: inherit;
  text-decoration: none;
}
.attraction__link {
  margin: 0;
}
.attraction__name {
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .attraction__name {
    color: #ffffff;
  }
}
.attraction__author {
  display: block;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .attraction__author {
    margin-bottom: 0;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .attraction__author {
    color: #ffffff;
  }
}
.attraction__like-button {
  margin: 0;
}
@media (min-width: 768px) {
  .attraction__like-button {
    position: relative;
  }
}
.attraction__like-button svg {
  fill: #000000;
  opacity: 0.3;
}
.attraction__like-button svg:hover {
  opacity: 0.5;
}
.attraction__like-button svg:active {
  opacity: 0.7;
}
@media (min-width: 1200px) {
  .attraction__like-button svg {
    fill: #ffffff;
    opacity: 1;
  }
  .attraction__like-button svg:hover {
    opacity: 0.7;
  }
  .attraction__like-button svg:active {
    opacity: 0.5;
  }
}
.attraction__likes-amount {
  margin-left: 14px;
}
@media (min-width: 1200px) {
  .attraction__likes-amount {
    opacity: 1;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .attraction__likes-number {
    align-self: center;
  }
}
.video-presentation {
  padding-top: 43px;
}
@media (min-width: 768px) {
  .video-presentation {
    padding-top: 58px;
  }
}
@media (min-width: 1200px) {
  .video-presentation {
    padding-top: 62px;
  }
}
.video-presentation__title {
  margin: 0 auto 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .video-presentation__title {
    font-size: 30px;
  }
}
.video-presentation__info {
  margin: 0 auto 38px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .video-presentation__info {
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .video-presentation__info {
    margin-bottom: 64px;
  }
}
.video-presentation__player {
  position: relative;
}
.video-presentation__image {
  display: block;
  width: 100%;
  height: 177px;
  margin: 0 auto;
  background-color: #00ffff;
}
@media (min-width: 768px) {
  .video-presentation__image {
    height: 500px;
  }
}
.video-presentation__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 48px;
  padding: 0;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  background: inherit;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
}
.feedback-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.feedback-form__user-info {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
@media (min-width: 768px) {
  .feedback-form__user-info {
    width: 50%;
  }
}
.feedback-form__user-info::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 39px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form__user-info::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__user-info--full-name.user-info {
    padding-right: 43px;
  }
}
@media (min-width: 768px) {
  .feedback-form__user-info--contacts.user-info {
    padding-left: 44px;
  }
}
.feedback-form__impression {
  position: relative;
  margin: 0 0 24px;
}
@media (min-width: 768px) {
  .feedback-form__impression {
    width: 100%;
    margin: 0;
  }
}
.feedback-form__impression::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 15px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form__impression::after {
    display: none;
  }
}
.feedback-form__visited-attractions {
  position: relative;
  margin: 0 0 24px;
}
@media (min-width: 768px) {
  .feedback-form__visited-attractions {
    width: 100%;
  }
}
.feedback-form__visited-attractions::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 15px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form__visited-attractions::after {
    display: none;
  }
}
.feedback-form__emotions-feedback {
  margin: 0;
}
@media (min-width: 768px) {
  .feedback-form__emotions-feedback {
    width: 100%;
  }
}
.feedback-form__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 23px;
}
@media (min-width: 768px) {
  .feedback-form__control {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    margin-bottom: 64px;
  }
}
.feedback-form__submit-button {
  display: block;
  box-sizing: border-box;
  width: 281px;
  padding: 19px 33px 14px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .feedback-form__submit-button {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__submit-button {
    width: 384px;
  }
}
.feedback-form__submit-button:hover {
  background-color: #669ec0;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.feedback-form__submit-button:active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.feedback-form__post-review {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.feedback-form__remark {
  margin: 0;
  margin-left: auto;
  color: rgba(51, 51, 51, 0.6);
}
.user-info {
  padding: 0 20px 39px;
  border: none;
}
@media (min-width: 768px) {
  .user-info {
    padding: 0 0 15px;
    margin-bottom: 24px;
  }
  .user-info:first-child {
    border-right: 1px solid #dbdbdb;
  }
}
.user-info__title {
  margin: 0 auto 41px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.user-info__item {
  margin: 0;
  position: relative;
}
.user-info__item--telephone::before,
.user-info__item--email::before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  min-width: 58px;
  min-height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.user-info__item--email::before {
  background-image: url("../img/mail.svg");
}
@media (min-width: 768px) {
  .user-info__item:last-child .user-info__item-input {
    margin-bottom: 0;
  }
}
.user-info__item-label {
  position: absolute;
  top: -20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
}
.user-info__item-input {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 58px;
  padding: 15px;
  padding-right: 60px;
  margin-bottom: 37px;
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  outline: none;
}
.user-info__item-input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.user-info__item-input:active,
.user-info__item-input:focus {
  background-color: #ffffff;
}
.user-info__item-input::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  top: 10px;
}
.impression {
  padding: 0 20px 24px;
  border: none;
}
@media (min-width: 768px) {
  .impression {
    padding: 0 0 24px;
    border-top: 1px solid #dbdbdb;
  }
}
.impression__title {
  width: 300px;
  margin: 0 auto 43px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .impression__title {
    padding: 0 50px;
  }
}
.impression__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .impression__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 36px;
  }
}
@media (min-width: 1200px) {
  .impression__list {
    padding: 0 53px;
  }
}
.impression__item {
  margin: 0;
  min-width: 280px;
}
.impression-control {
  margin: 0;
}
.impression-control__wrapper {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}
.impression-control__input {
  margin: 0;
  width: 100%;
  height: 100%;
}
.impression-control__label {
  display: block;
  margin: 0 0 62px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.impression-control__button {
  display: block;
  padding: 15px 0 21px 62px;
}
.impression-control__button::before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
}
.impression-control__button::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333333;
  position: absolute;
  top: 20px;
  left: 15px;
  border-radius: 50%;
}
.impression-control__button::after:hover {
  background-color: #333333;
}
.impression-control__button::after:active {
  background-color: rgba(51, 51, 51, 0.3);
}
.impression-control__input:hover + .impression-control__button::before,
.impression-control__input:focus + .impression-control__button::before {
  background-color: #e5e5e5;
}
.impression-control__input:active + .impression-control__button::before {
  background-color: #d5d5d5;
}
.impression-control__input:not(:checked) + .impression-control__button::after {
  display: none;
}
.visited-attractions {
  padding: 0 20px 24px;
  border: none;
}
@media (min-width: 768px) {
  .visited-attractions {
    padding: 0 0 24px;
    border-top: 1px solid #dbdbdb;
  }
}
.visited-attractions__title {
  width: 300px;
  margin: 0 auto 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .visited-attractions__title {
    padding: 0 50px;
    margin: 0 auto 23px;
  }
}
.visited-attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .visited-attractions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 84px;
  }
}
.visited-attractions__item {
  margin: 0;
  min-width: 224px;
}
@media (min-width: 1200px) {
  .visited-attractions__item {
    min-width: 172px;
  }
}
.visited-attractions__button::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -62px;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.visited-attractions__button::before:hover {
  background-color: #e5e5e5;
}
.visited-attractions__button::before:active {
  background-color: #d5d5d5;
}
.visited-attractions__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  height: 9px;
  width: 18px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  transform: rotate(-45deg);
  cursor: pointer;
}
.visited-attractions-control__input:not(:checked) + .visited-attractions__button::after {
  display: none;
}
.visited-attractions-control {
  margin: 0;
}
.visited-attractions-control__wrapper {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}
.visited-attractions-control__input {
  margin: 0;
  width: 100%;
  height: 100%;
}
.visited-attractions-control__label {
  display: block;
  margin: 0 0 62px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.visited-attractions-control__button {
  display: block;
  padding: 15px 0 21px 62px;
}
.visited-attractions-control__button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.visited-attractions-control__button::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  display: block;
  height: 9px;
  width: 18px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  transform: rotate(-45deg);
}
.visited-attractions-control__input:hover + .visited-attractions-control__button::before,
.visited-attractions-control__input:focus + .visited-attractions-control__button::before {
  background-color: #e5e5e5;
}
.visited-attractions-control__input:active + .visited-attractions-control__button::before {
  background-color: #d5d5d5;
}
.visited-attractions-control__input:not(:checked) + .visited-attractions-control__button::after {
  display: none;
}
.emotions-feedback {
  padding: 0 20px 56px;
  border: none;
}
@media (min-width: 768px) {
  .emotions-feedback {
    padding: 0 0 48px;
    border-top: 1px solid #dbdbdb;
  }
}
.emotions-feedback__title {
  width: 300px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .emotions-feedback__title {
    padding: 0 50px;
  }
}
.emotions-feedback__text {
  display: block;
  width: 100%;
  max-width: 768px;
  min-height: 150px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  border: none;
  padding: 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .emotions-feedback__text {
    min-height: 160px;
  }
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 990;
}
.modal-container--show {
  display: flex;
}
.modal-container--displayed {
  display: block;
}
.modal-container__content {
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 340px;
  padding-top: 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .modal-container__content {
    width: 400px;
  }
}
.modal-container__content--wrong {
  margin-top: 116px;
  padding-top: 45px;
}
@media (min-width: 768px) {
  .modal-container__content--wrong {
    margin-top: 283px;
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .modal-container__content--wrong {
    margin-top: 244px;
    padding-top: 48px;
  }
}
.modal-container__content--success {
  margin-top: 402px;
  padding-top: 39px;
}
@media (min-width: 768px) {
  .modal-container__content--success {
    width: 640px;
    margin-top: 162px;
    padding-top: 53px;
  }
}
@media (min-width: 1200px) {
  .modal-container__content--success {
    margin-top: 145px;
    padding-top: 51px;
  }
}
.modal-container__content--displayed {
  display: block;
}
.modal-container__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0 42px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-container__title {
    padding: 0 47px;
    font-size: 30px;
    line-height: 40px;
  }
}
.modal-container__content--success .modal-container__title {
  padding: 0 38px;
}
@media (min-width: 768px) {
  .modal-container__content--success .modal-container__title {
    padding: 0 98px;
  }
}
.modal-container__description {
  margin: 0;
  margin-bottom: 14px;
  padding: 0 42px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-container__description {
    padding: 0 47px;
  }
}
.modal-container__content--success .modal-container__description {
  padding: 0 38px;
}
@media (min-width: 768px) {
  .modal-container__content--success .modal-container__description {
    padding: 0 98px;
  }
}
.modal-container__action {
  padding: 20px;
}
@media (min-width: 768px) {
  .modal-container__action {
    padding: 44px;
  }
}
.modal-container__content--success .modal-container__action {
  background-color: #f2f2f2;
}
.modal-container__button {
  display: block;
  width: 180px;
  height: 58px;
  margin: 0 auto;
  padding: 18px 64px 14px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-container__button {
    width: 272px;
  }
}
.modal-container__button:hover {
  background-color: #669ec0;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.modal-container__button:active {
  background-color: #5496bd;
  opacity: 0.3;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.modal-container__content--success .modal-container__button {
  width: 280px;
}
@media (min-width: 768px) {
  .modal-container__content--success .modal-container__button {
    width: 458px;
  }
}
.modal-container__button-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .modal-container__button-text {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */
