.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  width: 113px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link {
  margin: 0;
}

.copyright__logo-image {
  margin: 0;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}
