.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  width: 113px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__link {
  margin: 0;
}

.copyright__logo-image {
  margin: 0;
}
