.emotions-feedback {
  padding: 0 0 56px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 0 0 48px;
  }
}

.emotions-feedback__title {
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
  .feedback-form-fieldset-title-style();
}

.emotions-feedback__text {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #f2f2f2;
  border: none;
  padding: 16px;
  box-sizing: border-box;

  // @media (min-width: @tablet-width) {
  //   width: 648px;
  //   height: 160px;
  // }

  // @media (min-width: @desktop-width) {
  //   width: 768px;
  //   height: 160px;
  // }
}
