.hotel-search {
  margin: 0;
}

.hotel-search__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

.hotel-search__info {
  margin: 0;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
}

.hotel-search__search-button {
  margin: 0;
}

.hotel-search__map {
  margin: 0;
  background-color: #ffff00;
}
