.impression-control {
  margin: 0;
}

.impression-control__wrapper {
  display: block;
  position: relative;
  margin-bottom: 36px;
  margin-left: 62px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.impression-control__input {
  margin: 0;
}

.impression-control__label {
  display: block;
  margin-left: 31px;
  margin-bottom: 36px;
  .feedback-form-fieldset-value();
}
