.main-header {
  margin: 0;

  &--form::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 26px;
    background-color: #e5e5e5;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main-header__image-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 389px;
  margin-bottom: 59px;
  padding-top: 90px;
  background-image: url("../img/image-welcome-to-the-gorgeous-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #1ebbda;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/image-welcome-to-the-gorgeous-mobile-@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    background-image: url("../img/image-welcome-to-the-gorgeous-tablet.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/image-welcome-to-the-gorgeous-tablet-@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    background-image: url("../img/image-welcome-to-the-gorgeous-desktop.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/image-welcome-to-the-gorgeous-desktop-@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/maska-1-index-desktop.svg");
  }
}

.main-header--catalog .main-header__image-container,
.main-header--form .main-header__image-container {
  height: 214px;
  background-image: url("../img/back-mobile.jpg");

  @media (min-width: @tablet-width) {
    height: 346px;
  }

  @media (min-width: @desktop-width) {
    height: 357px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-@2x.jpg");
    }
  }
}

.main-header__image {
  display: block;
  margin: 0 auto;
}

.main-header__description {
  width: 272px;
  margin: 0 auto 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    width: 520px;
    padding: 0 124px;
    font-size: 21px;
  }
}

.main-header--catalog .main-header__description {
  @media (min-width: @tablet-width) {
    width: 458px;
    font-size: 30px;
  }
}

.main-header--form .main-header__description {
  @media (min-width: @tablet-width) {
    width: 434px;
    font-size: 30px;
  }
}

.main-header__explanation {
  width: 282px;
  margin: 0 auto;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.main-header--catalog .main-header__explanation {
  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.main-header--form .main-header__explanation {
  @media (min-width: @tablet-width) {
    width: 434px;
  }
}
