.main-container {
  margin: 0;
  background-color: #ffffff;
}

.main-container__main-header {
  position: relative;
  padding-bottom: 45px;
}

.main-container__advantages {
  margin: 0;
}

.main-container__hotel-search {
  margin: 0;
}

.main-container__feedback-form {
  margin: 0;
}
