.main-container {
  margin: 0;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.main-container__main-header {
  position: relative;
  padding-bottom: 45px;
  border: 1px solid #000000;
}

.main-container__advantages {
  margin: 0;
}

.main-container__hotel-search {
  margin: 0;
  border: 1px solid #000000;
}
