.visited-attractions {
  padding: 0 0 24px;
  border: none;
}

.visited-attractions__title {
  margin: 0 auto 30px;
  text-transform: uppercase;
  text-align: center;
  .feedback-form-fieldset-title-style();

  @media (min-width: @tablet-width) {
    margin: 0 auto 38px;
  }
}

.visited-attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 84px;
  }
}

.visited-attractions__item {
  margin: 0;
  min-width: 224px;

  @media (min-width: @desktop-width) {
    min-width: 172px;
  }
}

.visited-attractions-control__label {
  margin: 0;
  .feedback-form-fieldset-value();
}

.visited-attractions__button::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -62px;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.visited-attractions__button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -50px;
  display: block;
  height: 9px;
  width: 18px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  transform: rotate(-45deg);
}

.visited-attractions-control__input:not(:checked)+.visited-attractions__button::after {
  display: none;
}
