.visited-attractions {
  padding: 0 20px 24px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 0 0 17px;
    border-top: 1px solid #dbdbdb;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 61px;
  }
}

.visited-attractions__title {
  width: 250px;
  margin: 0 auto 15px;
  text-align: center;
  .feedback-form-fieldset-title-style();

  @media (min-width: @tablet-width) {
    width: 320px;
    padding: 0 40px;
    margin: 0 auto 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 53px;
  }
}

.visited-attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 84px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 45px;
    justify-content: start;
  }
}

.visited-attractions__item {
  margin: 0;
  min-width: 224px;

  @media (min-width: @desktop-width) {
    margin-right: 63px;
    min-width: 155px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.visited-attractions__button::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -62px;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.visited-attractions__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  height: 9px;
  width: 18px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  transform: rotate(-45deg);
  cursor: pointer;
}

.visited-attractions-control__input:not(:checked) + .visited-attractions__button::after {
  display: none;
}
