.video-presentation {
  margin: 0;
  padding-top: 62px;
  padding-bottom: 120px;
  border: 1px solid #000000;
}

.video-presentation__title {
  width: 445px;
  margin: 0 auto 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video-presentation__info {
  margin: 0 auto 64px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.video-presentation__player {
  margin: 0;
}

.video-presentation__image {
  display: block;
  margin: 0 auto;
  background-color: #00ffff;
}

.video-presentation__play-button {
  margin: 0;
}
